<div style="padding-bottom: 5%" class="container">

    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1 class="text-info">Rutas de la aplicacion</h1>
            <img class="imagen-tamanio" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2018/06/30/15303510523515.jpg">
        </div>
    </div>
    <div style="padding-top: 3%" class="row">

        <div class="col-sm-4">
            <button routerLink="/crear-jugador" class="btn btn-sm btn-block btn-outline-info">Ruta 1</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-sm btn-block btn-outline-primary">Ruta 2</button>
        </div>
        <div class="col-sm-4">
            <button class="btn btn-sm btn-block btn-outline-success">Ruta 3</button>

        </div>

        <div class="separacion col-sm-4">
            <button routerLink='/crear-jugador' class="btn btn-sm btn-block btn-outline-info">Ruta 4</button>
        </div>
        <div class="separacion col-sm-4">
            <button class="btn btn-sm btn-block btn-outline-primary">Ruta 5</button>
        </div>
        <div class="separacion col-sm-4">
            <button class="btn btn-sm btn-block btn-outline-success">Ruta 6</button>
        </div>


        
    </div>

  