<router-outlet>
</router-outlet>
<div class="row">
    <div class="col-sm-4">
        Equipo
        <ul>
            <li>
                <button [routerLink]="[{outlets:{equipo:['crear-equipo']}}]" class="btn-default">crear</button>
            </li>
            <li>
                <button [routerLink]="[{outlets:{equipo:['info-equipo']}}]" class="btn-default">info</button>
            </li>
            <li>
                <button [routerLink]="[{outlets:{equipo:['listar-equipo']}}]" class="btn-default">lista</button>
            </li>
        </ul>

        <router-outlet name="equipo"></router-outlet>
    </div>
    <div class="col-sm-4">
        Jugadores
        <ul>
            <li>
                <button [routerLink]="[{outlets:{jugador:['crear-jugador']}}]" class="btn-default">crear</button>
            </li>
            <li>
                <button [routerLink]="[{outlets:{jugador:['info-jugador']}}]" class="btn-default">info</button>
            </li>
            <li>
                <button [routerLink]="[{outlets:{jugador:['listar-jugadores']}}]" class="btn-default">lista</button>
            </li>
        </ul>


        <router-outlet name="jugador"></router-outlet>
    </div>
    <div class="col-sm-4">
        Liga
        <ul>
            <!-- <li><button [routerLink]="[{outlets:{equipo:['crear-equipo']}}]" class="btn-default">crear</button></li>
                      <li><button [routerLink]="[{outlets:{equipo:['info-equipo']}}]" class="btn-default">info</button></li>
                      <li><button [routerLink]="[{outlets:{equipo:['listar-equipo']}}]"  class="btn-default">lista</button></li> -->
        </ul>
        <!-- <router-outlet name="jugador"></router-outlet> -->
    </div>



</div>