<div class="conteiner">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>equipo info</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="https://www.pinterest.com/pin/391602130071821685/" alt="">
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>