<div class="conteiner">
    <div class="raw">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <h1>jugador crear</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <div class="raw">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <img src="https://i.pinimg.com/474x/a7/f7/c8/a7f7c81fe3c24747f10c132d776512b2.jpg" alt="">
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>